<%= render 'shared/title', title: "新增訂單" %>

<%= form_for @item do |f| %>
  <label>產品:</label>
  <p><%= f.select :product, options_for_select(@product_list) %></p>

  <label>產品尺寸:</label>
  <p><%= f.select :size, options_for_select(@size) %></p>

  <label>產品價格</label>
  <p><%= f.text_field :price %></p>

  <label>產品數量</label>
  <p><%= f.text_field :quantity %></p>

  <%= f.hidden_field :order_id, value: @order_id%>

  <%= f.submit "繼續新增", name: 'flag'%>
  <%= f.submit "完成新增", name: 'flag'%>
  <%= f.submit "取消", name: 'flag'%>
<% end %>
