<%= render 'shared/title', title: @product.name_chin %>

<div>
  <p>產品中文名: <%= @product.name_chin %></p>

  <p>產品英文名: <%= @product.name_eng %></p>

  <p>產品尺寸: <%= @product.size %></p>

  <p>產品價錢: <%= @product.price %></p>
</div>
